@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --darker: #212121;
  --basecolor: #181d29;
  --golden: #ad8a17;
  --highlight: #d9dcdd;
}

* {
  margin: 0;
  padding: 0;
}

/* HTML */
html {
  /* background-color: var(--basecolor); */
  background-image: linear-gradient(to top, #212121, #151924);
}

body {
  overflow-x: hidden;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
}

/* Main */
main h1 {
  color: var(--highlight);
  font-family: "VT323", monospace;
  font-weight: 400;
}

main p,
h2,
h3 {
  color: var(--highlight);
  font-family: "Poppins", "Gill Sans MT", Calibri, monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.node-title {
  padding-top: 4vh;
  padding-bottom: 4vh;
  margin: 0vh 10vw;
  font-size: 2.4rem;
  text-align: center;
}

/* -------------------- CLICK TO CONTINUE ------------------------------ */

.hello-world {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  color: var(--highlight);
  font-family: "VT323", monospace;
}

.hello-world-text h1 {
  font-weight: 500;
  font-size: 5rem;
}
.hello-world-text p {
  margin-top: 3%;
  font-size: 1.5rem;
  font-weight: 300;
  background-color: transparent;
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(1, end);
}
@keyframes blink {
  0% {
    background-color: var(transparent);
    color: var(--highlight);
  }
  50% {
    background-color: var(--highlight);
    color: var(--darker);
  }
}

/* -------------------- RESUMEE ------------------------------ */
.resumee {
  display: initial;
}

/* -------------------- PROFILE ------------------------------ */
#particles-js {
  position: fixed;
  width: 99vw;
  height: 100vh;
  background-color: transparent;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -1;
}

.profile {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
  width: 99vw;
  flex-shrink: 1;
}
.profile-text {
  padding: 5px;
  font-size: 1.5rem;
  /* box-shadow: 6px 12px 14px #03010f83; */
}
.profile-text h1 {
  overflow: hidden;
  font-size: 3em;
  border-right: 0.15em solid rgb(255, 255, 255);
  white-space: nowrap;
  animation: typing 2s steps(40, end), blink-caret 0.75s step-end infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(255, 255, 255);
  }
}
.profile-text h2 {
  font-size: 1.75rem;
  color: #898d97;
}

.profile-text p {
  animation: wait 4s, 5s fadein 2s;
}

.profile-bio {
  color: #898d97;
  font-size: 1.4rem;
}
.profile-bio a {
  margin-top: 5%;
  margin-right: 5%;
  color: #898d97;
  text-decoration: none;
}

.profile-bio a:hover {
  color: var(--highlight);
}

.profile-subtitle {
  margin-top: 2vh;
  margin-bottom: 5vh;
}

@keyframes wait {
  from {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.profile-picture {
  height: 360px;
  width: 360px;
  border-radius: 50%;
  border: 0.25rem solid var(--golden);
  margin-right: 10vh;
  margin-left: 10vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
  box-shadow: 8px 7px 14px #03010f;
  animation: wait 4s linear, 5s fadein 2s;
}

/* -------------------- TIMELINE ------------------------------ */

.timeline {
  position: relative;
  max-width: 100vw;
  padding: 5vh 20vw;
  margin: 10vh 5vw;
  background: linear-gradient(
    0deg,
    rgb(24, 29, 41) 0%,
    rgba(28, 34, 65, 0.363) 50%,
    rgb(33, 33, 33) 100%
  );
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.342);
  backdrop-filter: blur(1px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-attachment: fixed;
}
.timeline h1 {
  margin-right: 6.2vw;
}
.timeline h3 {
  font-size: 1rem;
}
.timeline p {
  font-size: 0.9rem;
  color: var(--basecolor);
}

/* TIMELINE MIDDLE BAR */
.timeline::after {
  content: "";
  position: absolute;
  height: 86%;
  top: 0;
  left: 50%;
  border: none;
  border-left: 6px dashed var(--highlight);
  margin-top: 15vh;
  margin-left: -3px;
  z-index: 9;

  scale: 1 1;
  transform-origin: top;
  animation: scroll-timeline linear;
  animation-timeline: scroll();
  animation-range: 0% 60%;
}
/* @keyframes scroll-timeline {
  from {
    scale: 1 0.1;
  }
  to {
    scale: 1 1;
  }
} */

.timeline-box {
  display: flex;
  align-items: center;
  height: 100px;
  position: relative;
  padding: 10px 0px;
  margin: 2vh 0vh;
  width: 70%;
}

/* ANIMATION BOX SLIDING */
/* .timeline-box.left.in-view {
  animation: slide-to-right 2s linear;
}
@keyframes slide-to-right {
  0% {
    opacity: 0;
    transform: translateX(-50vw);
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    transform: translateX(0vw);
  }
} */

/* .timeline-box.right.in-view {
  animation: slide-to-left 2s linear;
}
@keyframes slide-to-left {
  0% {
    opacity: 0;
    transform: translateX(50vw);
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
} */

.timeline-item {
  position: relative;
  height: 100px;
  width: 27vw;
  padding: 5px 30px;
  border-radius: 8px;
  align-content: center;
  background-color: white;
}
.timeline-item h2,
h3 {
  color: var(--basecolor);
}

/* TIMELINE ITEM DOTS */
.timeline i {
  position: absolute;
  color: var(--golden);
  z-index: 11;
}
.left {
  left: -10vw;
}
.timeline .left i {
  top: 5.8vh;
  right: -0.9vw;
}
.left::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  top: 32px;
  right: -26.5px;
  background: white;
  border-radius: 50%;
  z-index: 10;
}

.right {
  left: 50%;
  justify-content: end;
  text-align: end;
}
.timeline .right i {
  top: 6vh;
  left: -0.68vw;
}
.right::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  left: -25px;
  background: white;
  top: 32px;
  border-radius: 50%;
  z-index: 10;
}

/* -------------------- PROJECTS ------------------------------ */

.projects {
  padding-top: 10px;
}

/* .mais-projetos {
  --bg: #000;
  --hover-text: #000;
  cursor: pointer;
  border: 1px solid var(--bg);
  height: 8vh;
  border-radius: 4px;
  padding: 0.8em 2em;
  background: var(--bg);
  transition: 0.2s;
  margin-right: 10vw;
}
.mais-projetos:hover {
  color: #000;
  transform: translate(-0.25rem, -0.25rem);
  background: var(--golden);
  box-shadow: 0.25rem 0.25rem #000;
} */

.mais-projetos:active {
  transform: translate(0);
  box-shadow: none;
}

.project-boxes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project-item {
  display: flex;
  width: 40vw;
  margin: 50px 50px 50px 0px;
}

.project-text {
  margin: 0px 20px 20px 20px;
}
.project-text a h2 {
  margin-bottom: 2vh;
}
.project-text p {
  text-align: justify;
}

.project-picture {
  height: 300px;
  width: 300px;
}

picture img {
  margin: 1vh 0.5vw;
  width: 20px;
  height: 20px;
}

/* -------------------- FOOTER ------------------------------ */

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #19191a;
  height: 8vh;
  width: 100vw;
  border-top: 2px solid black;
  font-size: 12px;
}

.criador {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
}
.criador > p {
  color: var(--highlight);
  font-family: "Poppins", "Gill Sans MT", Calibri, monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0px 10px;
}
.criador > h3 {
  color: var(--highlight);
  font-family: "Poppins", "Gill Sans MT", Calibri, monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0px 10px;
}

.tecnologias {
  display: flex;
  width: auto;
}
.tecnologias h3 {
  margin-right: 20px;
  color: var(--highlight);
  font-family: "Poppins", "Gill Sans MT", Calibri, monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}

.tecnologias h3 i {
  margin-left: 8px;
}
