@media screen and (max-width: 700px) {
  .profile {
    margin-top: 5vh;
    width: 99vw;
  }
  .profile-text {
    margin: 20vw 0vw 20vw 10vw;
    margin: 5vh 5vw;
    text-align: center;
    width: 50vw;
  }
  .profile-text h1 {
    overflow: hidden;
    font-size: 1.43em;
    height: 40px;
  }
  .profile-text h2 {
    font-size: 0.8em;
  }
  .profile-text p {
    font-size: 0.8em;
  }

  .profile-picture {
    margin: 0px;
    height: 320px;
    width: 320px;
  }

  .profile-bio a {
    display: block;
  }

  /* -------------------- TIMELINE ------------------------------ */
  .timeline {
    margin: 0;
    width: 99vw;
    padding: 0;
  }

  .timeline h1 {
    margin-bottom: 50px;
  }

  .timeline .left i {
    top: 5.75vh;
    right: 75.5vw;
  }
  .timeline .right i {
    top: 6vh;
    left: 4.5vw;
  }

  .timeline::after {
    overflow: hidden;
    left: 35px;
    animation-range: 0% 40%;
  }

  .timeline-box {
    width: 70%;
    padding-left: 80px;
  }
  .timeline-item {
    font-size: 10px;
    width: 300px;
  }
  .left {
    left: 0;
    text-align: end;
  }
  .left .timeline-item {
    width: 100%;
  }
  .right {
    left: 0;
  }
  .left::after,
  .right::before {
    left: 10px;
  }

  @keyframes slide-to-right {
    0% {
      opacity: 0;
      transform: translateX(50vw);
    }
    50% {
      opacity: 0;
    }
    75% {
      opacity: 0.3;
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  /* -------------------- PROJECTS ------------------------------ */
  .project {
    width: 99vw;
  }
  .project-picture {
    height: 200px;
    width: 200px;
  }
}
@media screen and (max-width: 699px) {
  .profile-text {
    width: 85vw;
  }
}
