@media screen and (max-width: 600px) {
  .profile {
    margin-top: 5vh;
  }
  .profile-text {
    margin: 20vw 0vw 20vw 10vw;
    margin: 5vh 5vw;
  }
  .profile-text h1 {
    overflow: hidden;
    font-size: 1.45em;
    width: 80vw;
    height: 40px;
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 80vw;
    }
  }
  .profile-text h2 {
    font-size: 0.8em;
  }
  .profile-text p {
    font-size: 0.8em;
  }

  .profile-picture {
    height: 250px;
    margin: 0px;
    height: 30vh;
    width: 30vh;
  }

  /* -------------------- TIMELINE ------------------------------ */
  .timeline {
    margin: 0;
    width: 100vw;
    padding: 0;
  }
  .timeline h1 {
    margin-bottom: 50px;
  }
  .timeline::after {
    overflow: hidden;
    left: 31px;
    animation-range: 0% 40%;
  }

  .timeline-box {
    width: 70%;
    padding-left: 80px;
  }
  .timeline-item {
    font-size: 15px;
  }
  .left {
    left: 0;
    text-align: end;
  }
  .left .timeline-item {
    width: 100%;
  }
  .right {
    left: 0;
  }
  .left::after,
  .right::before {
    left: 10px;
  }

  @keyframes slide-to-right {
    0% {
      opacity: 0;
      transform: translateX(50vw);
    }
    50% {
      opacity: 0;
    }
    75% {
      opacity: 0.3;
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  /* -------------------- PROJECTS ------------------------------ */
  .project-picture {
    height: 200px;
    width: 200px;
  }
}
